<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApiApprover" version="6.0.0" targetFramework="net461" />
  <package id="ApprovalTests" version="3.0.13" targetFramework="net461" />
  <package id="ApprovalUtilities" version="3.0.13" targetFramework="net461" />
  <package id="Mono.Cecil" version="0.9.6.4" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="NServiceBus" version="6.1.1" targetFramework="net461" />
  <package id="NUnit" version="3.6.0" targetFramework="net461" />
  <package id="PublicApiGenerator" version="6.0.0" targetFramework="net461" />
  <package id="RabbitMqNext" version="1.0.18" targetFramework="net461" />
  <package id="System.Buffers" version="4.3.0" targetFramework="net461" />
</packages>